<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the papers   -->
    <div class='panel-body'>
        

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
        <div class='table-responsive'>
            <table class='table' 
            *ngIf='conferences && conferences.length' >
                <thead>
                    <tr>
                     
                        <th>Title</th>
                        <th>Location </th>
                     <th>Start date</th>
                        <th>End Date </th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                  <tr  *ngFor='#con of conferences'>
  <td>{{con.title}}</td>
   <td>{{con.conferenceLocation}}</td>
  <td>{{con.startdate}}</td>
  <td>{{con.enddate}}</td>
<td> <a [routerLink]="['InviteAuthor',{id:con._id}]" >Author</a></td>
        
                      </tr>
                </tbody>
            </table>
            <div  *ngIf='!conferences'><p>you don't have any conferenc click <a [routerLink]="['CreateConference']" >here</a> to create new conference</p></div>
        </div>
    </div>
</div>