	 <div class="row">
							<div class="col-md-8">
                    <result-messages [(message)]='resultMessage' [(messageType)]='messageType'></result-messages>

                 <fieldset *ngIf="messageType!='success'">
                    <legend>New Conference</legend>

  <form [ngFormModel]="form" >
  
  <div class="form-group">
    <label for="title">title</label>
    <input type="text"  class="form-control" id="title" placeholder="title"  ngControl="title" required >
      <control-messages [control]="form.controls.title"></control-messages>

  </div>
    
 <div class="form-group">
    <label for="conferenceLocation">conference Location</label>
    <input type="text"  class="form-control" id="conferenceLocation" placeholder="conferenceLocation"  ngControl="conferenceLocation"  >
          <control-messages [control]="form.controls.conferenceLocation"></control-messages>

  </div>



 <div class="form-group">
    <label for="startdate">start date</label>
  <datepicker [(ngModel)]="startdate" [minDate]="minDate" [showWeeks]="false"></datepicker>
   <input type="hidden" [(ngModel)]="startdate" class="form-control" id="startdate" placeholder="startdate" ngControl="startdate">

          <control-messages [control]="form.controls.startdate"></control-messages>

  </div>

 <div class="form-group">
    <label for="enddate">end date</label>
  <datepicker [(ngModel)]="enddate" [minDate]="minDate" [showWeeks]="false"></datepicker>
   <input type="hidden" [(ngModel)]="enddate" class="form-control" id="enddate" placeholder="enddate" ngControl="enddate">
   <control-messages [control]="form.controls.enddate"></control-messages>

  </div>


    <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="submit($event,form.value)">Create </button>
  </form>
    </fieldset>

</div>
	 </div>