



    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                                <a class="navbar-brand" [routerLink]="['Welcome']"><img src="app/assets/images/logo.png" class="headerImg" style="margin-top: -10px;" /> </a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                           
                     <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" *ngIf="isLog">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b> Hello : {{currentUser}} !</b> <span class="caret"></span></a>
                            <ul id="profile-dp" class="dropdown-menu">
                                <li><a (click)="logOut()" href="#" *ngIf="isLog">Log out </a></li>
                                <li><a [routerLink]="['EditProfile']">Edit Profile</a></li>
                                <li><a [routerLink]="['ViewProfile']">View Profile</a></li>
                                <li><a [routerLink]="['ChangePassword']">Change Password</a></li>
                                <li><a (click)="removeProfile($event)">Remove Profile </a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" *ngIf="!isLog">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <result-messages [(message)]='resultMessage' [(messageType)]='messageType'></result-messages>
                                        <form class="form" [ngFormModel]="form">
                                            <div class="form-group">
                                                <label class="sr-only" for="email">Email address</label>
                                                <input type="email" class="form-control" id="email" placeholder="email" ngControl="email" required>
                                                <control-messages [control]="form.controls.email"></control-messages>

                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="password">Password</label>
                                                <input type="password" class="form-control" id="password" placeholder="Password" ngControl="password" required>
                                                <control-messages [control]="form.controls.password"></control-messages>

                                                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="login($event,form.value)">Sign in</button>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="bottom text-center">
                                        New here ? <a [routerLink]="['SignUp']"><b>Join Us</b></a>
                                    </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

        <div class="col-md-3">
                <p class="lead">Conference System</p>
                <div class="list-group">
                
                             
             <a class="list-group-item" [routerLink]="['CreateConference']" *ngIf="isLog">New Conference</a>
            <a class="list-group-item" *ngIf="isLog" [routerLink]="['Conference']">My Conference</a>
          <a  class="list-group-item" [routerLink]="['Papers']" *ngIf="isLog">  My submission </a>
            <a  class="list-group-item"[routerLink]="['ConferenceSubmission']" *ngIf="isLog">Assigned Conference </a>
            <a  class="list-group-item"[routerLink]="['ReviewerPapers']" *ngIf="isLog">Reviews </a>

                </div>
            </div>

            <div class="col-md-9">

        
                <div class="row">
     <div class="col-lg-12">
                    <router-outlet></router-outlet>


     </div>
                  
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Team Nov</p>
                </div>
            </div>
        </footer>

    </div>