<div class="row">
    <div class="col-md-8">
        <fieldset>
            <legend>Change Password</legend>

            <form [ngFormModel]="form">

                <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <input type="password" class="form-control" id="oldPassword" placeholder="Password" ngControl="oldPassword" required passwordValidator>
                    <control-messages [control]="form.controls.oldPassword"></control-messages>

                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ngControl="password" required>
                    <control-messages [control]="form.controls.password"></control-messages>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="rePassword" placeholder="Password" ngControl="rePassword" required>
                    <control-messages [control]="form.controls.rePassword"></control-messages>
                    <div *ngIf="form.hasError('passwordNotMatch')" class="errorMsg">Passwords do not match.</div>

                </div>

                <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="changePassword($event,form.value)" style="width:150px;">Change Password</button>
             
            </form>
        </fieldset>

    </div>
</div>