<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        View Profile
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">Given Name:</label>
                    <div class="col-md-6">{{_user.givenName}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">Family Name:</label>
                    <div class="col-md-6">{{_user.familyName}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">Institute:</label>
                    <div class="col-md-6">{{_user.institute}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">Email Address:</label>
                    <div class="col-md-6">{{_user.username}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">Address:</label>
                    <div class="col-md-6">{{_user.address}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">City:</label>
                    <div class="col-md-6">{{_user.city}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">State:</label>
                    <div class="col-md-6">{{_user.state}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">Zip Code:</label>
                    <div class="col-md-6">{{_user.zipCode}}</div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label" style="text-align:left">Country:</label>
                    <div class="col-md-6">{{_user.country}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" (click)="EditProfile()" style="width:80px">
            <i class="glyphicon"></i> Edit
        </a>
    </div>
</div>