<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
        <div class='table-responsive'>
            <table class='table table-striped table-hover table-bordered' *ngIf='rpapers && rpapers.length'>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Abstract</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#review of rpapers'>
                        <td>{{review.status}}</td>
                        <td>{{review.title}}</td>
                        <td>{{review.abstract}}</td>
                        <td>
                            <a [routerLink]="['ReviewDetail',{id:review.id}]"><img class='center-block img-responsive' [style.width.px]='20' [style.margin.px]='2' src='./app/assets/images/edit.ico'></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>