/* --------------------------------------
   Layout
   -------------------------------------- */
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	background:lightgrey;
	
}

footer {
	background:#333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
	position:bottom;
	bottom:0;
}

ul.unstyled {
	
	list-style:none;
	padding:0;
}

html,body{
	
    height: 100%;
	
}

.container-fluid {
	
	height:100%;
}

/* --------------------------------------
   Typography
   -------------------------------------- */


.nav.navbar-nav li a {
	
    color: black;
}

.nav.navbar-nav.pull-right li a {
	
    color: black;;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */


 .navbar-brand {
	padding: 10px 10px;
}

.navbar-fixed-top {
    
    background-color:#F4A460 ;
}

/* --------------------------------------
   Rows
   -------------------------------------- */

.row-fluid {
	   
	margin-top:60px; 
   	
}

.well {
	margin: 20px 0;

}
