<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
               <result-messages [(message)]='resultMessage' [(messageType)]='messageType'></result-messages>

    <!-- Filter the papers   -->
    <div class='panel-body' *ngIf='papers && papers.length'>

        <div class='row'>

            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

 
        <div class='table-responsive'>
            <table class='table' 
             >
                <thead>
                    <tr>
                     
                        <th>Title</th>
                        <th>Status</th>
                        <th>Submission Date </th>
                         <th> <button class="btn btn-primary" (click)='toggleFile()'>
                          {{showFile ?'Hide' : 'Show File'}}
                          </button>
                      </th>
                    </tr>
                </thead>
                <tbody>
                  <tr  *ngFor='#paper of papers | paperFilter:listFilter'>
         <td><a [routerLink]="['PaperDetail',{id:paper._id}]">{{paper.title}}</a></td>
  <td>{{paper.status | lowercase}}</td>
  <td>{{paper.createdOn}}</td>
     <td><a *ngIf='showFile' href="#" (click)='getFile($event,paper.generatedFileName,paper.fileName)' target="_blank"><img src='./app/assets/images/pdf-icon.png' [style.width.px]='imageWidth' [style.height.px]='imageHeight'></a></td>
 
<td></td>
        
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>