<div class='panel panel-primary' *ngIf='paper'>
  <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Tile:</div>
                    <div class='col-md-6'>{{paper.title}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>status:</div>
                    <div class='col-md-6'>{{paper.status}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Abstract:</div>
                    <div class='col-md-6'>{{paper.abstract}}</div>
                </div>
               
                <div class='row'>
                    <div class='col-md-3'>keywords:</div>
                    <div class='col-md-6'>{{paper.keywords}}</div>
                </div>

                <div class='row'>
                    <div class='col-md-3'>Author:</div>
                    <div class='col-md-6'>


                    <div class='table-responsive'>
            <table class='table' 
            *ngIf='paper.authorList && paper.authorList.length' >
                <thead>
                    <tr>
                    
                        <th>Given Name</th>
                        <th>Family Name</th>
                        <th>Email</th>
                       
                    </tr>
                </thead>
                <tbody>
                  <tr  *ngFor='#paperAuthor of paper.authorList'>                 
                        <td>{{paperAuthor.givenName}}</td>
                        <td>{{paperAuthor.familyName}}</td>
                         <td>{{paperAuthor.email}}</td>
        
                      </tr>
                </tbody>
            </table>
        </div></div>
                </div>
               
              
            </div>

            <div class='col-md-6'>
                <a [href]='paper.fileId'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     src='./app/assets/images/pdf-icon.png'
                     >
                </a>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>