<div class="row">
    <div class="col-md-8">
        <result-messages [(message)]='resultMessage' [(messageType)]='messageType'></result-messages>

        <fieldset *ngIf="messageType!='success'">
            <legend>Change DeadLine</legend>

            <form [ngFormModel]="form">

                <div class="form-group">
                    <label for="deadline">deadline</label>
                    <input type="date" class="form-control" id="deadline" placeholder="deadline" [(ngModel)]="deadline" ngControl="deadline" required>
                    <control-messages [control]="form.controls.deadline"></control-messages>
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="submit($event,form.value)">Update </button>
            </form>
        </fieldset>

    </div>
</div>